nav {
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: aquamarine;
}

.navlink {
  font-size: 24px;
  text-decoration: none;
  color: rgb(197, 21, 153);
}

img {
  height: 50px;
  width: 50px;
}
