@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

body {
  background: black;
}

.app {
  text-align: center;
}

.app h1 {
  font-family: Ghibli, Helvetica, sans-serif;
  color: whitesmoke;
  font-weight: 100;
}

.app img {
  width: 30em;
}


.nav-bar {
  background-color: #4e5da1;
}

.nav-bar a {
  display: inline-block;
  align-items: center;
  font-family: Ghibli, Impact, fantasy;
  text-decoration: none;
  margin: 40px;
  color: snow;
}

.box_item:hover {
  font-size: 0;
}

.box_item:hover:after {
  content: attr(data-hover);
  font-size: 20px;
  line-height:28px;
  font-family: 'Inter', sans-serif;
  color:rgb(10, 8, 8);
  font-weight: 600;

}

.movies {
  color: whitesmoke;
}

.movies .select {
  font-family: Ghibli;
  color: #4e5da1;
}


.movies h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: whitesmoke;
}

.movies h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  color: whitesmoke;
}

.locations {
  color: whitesmoke;
}

.locations .loc-btn {
  font-family: Ghibli;
  height: 50px;
  border: 1px solid whitesmoke;
  border-radius: 3%;
  background-color: black;
  color: #4e5da1;
}

.locations .loc-btn:hover {
  background-color: #4e5da1;
  color: black;
}


.people {
  color: whitesmoke;
}

.people h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: whitesmoke;
}

.people p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  color: whitesmoke;
}
