@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Itim&family=Hind+Siliguri&display=swap');
.app {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
h1, h2, h3 {
  font-family: "Indie Flower";
}
h4, h5, h6 {
  font-family: "Hind Siliguri";
}
.main {
  height: 100%;
}
